xml/schemas/redlist.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Assessors" type="xs:string"/>
	<xs:element name="Class" type="xs:string"/>
	<xs:element name="Conservation_measures" type="xs:string"/>
	<xs:element name="Category">
		<xs:complexType mixed="true">
			<xs:attribute name="coverage" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EU25"/>
						<xs:enumeration value="EU27"/>
						<xs:enumeration value="Europe"/>
						<xs:enumeration value="World"/>
						<!-- The continent -->
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Endemic">
		<xs:complexType mixed="true">
			<xs:attribute name="coverage" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Kingdom"/>
				<xs:element ref="Phylum"/>
				<xs:element ref="Class"/>
				<xs:element ref="Order"/>
				<xs:element ref="Family"/>
				<xs:element ref="Scientific_name"/>
				<xs:element ref="Notes" minOccurs="0"/>
				<xs:element ref="Endemic" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Category" maxOccurs="unbounded"/>
				<xs:element ref="Rationale"/>
				<xs:element ref="Range"/>
				<xs:element ref="Population" minOccurs="0"/>
				<xs:element ref="Population_trend" minOccurs="0"/>
				<xs:element ref="Habitat" minOccurs="0"/>
				<xs:element ref="Threats" minOccurs="0"/>
				<xs:element ref="Conservation_measures" minOccurs="0"/>
				<xs:element ref="Assessors"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Family" type="xs:string"/>
	<xs:element name="Scientific_name" type="xs:string"/>
	<xs:element name="Habitat" type="xs:string"/>
	<xs:element name="Kingdom" type="xs:string"/>
	<xs:element name="Notes" type="xs:string"/>
	<xs:element name="Order" type="xs:string"/>
	<xs:element name="Phylum" type="xs:string"/>
	<xs:element name="Population" type="xs:string"/>
	<xs:element name="Population_trend">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Decreasing"/>
				<xs:enumeration value="Increasing"/>
				<xs:enumeration value="Stable"/>
				<xs:enumeration value="Unknown"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Range" type="xs:string"/>
	<xs:element name="Rationale" type="xs:string"/>
	<xs:element name="Threats" type="xs:string"/>
	<xs:element name="Red_List">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Row" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
